body {
	background-color: #3B3E47;
	margin: 0;
}

header {
	background-color:#4A4E57;
	color: #B8757E;
	text-align: center;
	font-size: 35px;
	padding: 10px 0;

}

main {
	margin-top: 30px;
}

ul {
	width: 400px;
	margin: 0 auto;
	list-style: none;
	padding: 0;
	font-size:20;
}

ul li {
	background-color: #88849F;
	padding: 10px;
}

ul li:active {
	color: red;
}
ul li:nth-child(2n){
	background-color: #7A7593;
}

ul li:hover {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	cursor: pointer;
	background-color: #625E78;
}

button {
	width: 400px;
	text-align: center;
	margin: 0 auto;	
	background-color: #4A4F55;
	color: #B8757E;
	border: none;
	text-align:center;
	display:block;
	padding: 15px 0;
	margin-top: 20px;

}

button :hover {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	cursor: pointer;
	background-color: #625E78;
}

input:checked + label {
	text-decoration: line-through;
	color: silver;
}